body{
	background-image: url('background.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#atas{
	/*margin-top: 20px;*/
	background-color: #F5D12D;
	width: 100vw;
	height: 20vh;
	display: flex;
	justify-content: center;
}

#produk{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	background-color: rgba(245,209,45,0.6);


}
#gambar img{
	margin-top: 5%;
	width: 300px;
	height: 200px;
}



#owner{
	/*border: 2px solid black;*/
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 100%;
	background-color: rgba(245,209,45,0.6);

	
}

#tengah{
	margin-top: 20px;
	display: flex;
	gap:30vw;
	justify-content: center;
}

#foto img{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 10px;
	margin-top: 5%;
}

#estimasi{
	width: 200px;
	
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgba(245,209,45,0.6);


}

#bawah{
	margin-top: 20px;
	display: flex;
	gap:30vw;
	justify-content: center;
	height: 100%;
}

/*#hubungi{
		width: 200px;
	height: 200px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgba(245,209,45,0.6);
}*/


@media(max-width: 767px){
	#atas{
		height: 10vh;
	}

#produk{
	width: 100%;
	height: 100%
}

#gambar img{
	margin-top: 5%;
	width: 200px;
	height: 100px;
}
#tengah{

	flex-direction: column;
	gap:5vh;
}

#bawah{
	flex-direction: column;
	gap:5vh;
}

#owner{
	width: 150px;
	margin-left: 25%;
}
body{
	background-image: url('background1.png');
	background-repeat: repeat;
}



}